<Project>

  <PropertyGroup>
    <!-- The host name, as shown in the Custom domains tab in the Azure Portal -->
    <APP_HOSTNAME></APP_HOSTNAME>
    <!-- The arbitrary string set in Application settings tab in the Azure Portal -->
    <API_KEY></API_KEY>
  </PropertyGroup>


</Project>
